body
{
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='29' height='33.487' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M29 20.928v14.813M14.5 12.56v16.745M29-2.559v6.744l-14.5 8.374L0 4.189v-6.745m29 6.742l14.5 8.37m0 16.745L29 20.928l-14.5 8.376L0 20.931l-14.5 8.376m0-16.744L0 4.189m0 31.487V20.931'  stroke-width='1' stroke='hsla(203, 43%, 35%, 0.36)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}
div.contenedor1
{
    background-color: rgba(102, 255, 246, 0.20);
    border-radius: 20px;
}
div.secciones
{
 /*    height: 550px; */
    width: 100%;
    border-color: aquamarine solid;
    border-width: 0px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 0px ;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 5% 0;
}
div.contenedor2
{
    background-color: rgba(217, 217, 217, 0.50);
    border-radius: 20px;
    width: 80%;
    margin: 0 10%;
}
div.item
{
/*    background-image: url("../img/fondoladrillo.jpg"); */
    background-repeat: repeat;
    border-radius: 50px;
    border: 1px solid #346481;
    padding: 0px;
    width: 65%;
    margin: 0 17.5%;
    font-size: 25px;
}
div.itemb
{
/*    background-image: url("../img/fondoladrillo.jpg"); */
    background-repeat: repeat;
    border-radius: 50px;
    border: 0px solid #346481;
    padding: 0px;
    width: 80%;
    margin: 0 10%;
    font-size: 25px;
}
p.textointerno
{
    margin: 10%;
}
.conimg
{
    margin: 500px;
}
div.item1
{
/*    background-image: url("../img/fondoladrillo.jpg"); */
    background-color: #FDEAFF;
    background-repeat: repeat;
    border-radius: 50px;
    border: 1px solid #346481;
    padding: 20px;
    width: 67%;
    margin: 0 15%;
    font-size: 25px;
}
div.item2
{
    background-color: rgba(122, 161, 245, 0.50);
    border-radius: 50px;
    border: 1px solid #346481;
    padding: 20px;
    width: 70%;
    margin: 0 15%;
    font-size: 25px;
}
div.item3
{
    background-color: #FDEAFF;
    border-radius: 50px;
    border: 1px solid #346481;
    padding: 0%;
    width: 250px;
    margin: 0;
    font-size: 25px;
}
div.item4
{
    background-color: rgba(122, 161, 245, 0.50);
    border-radius: 50px;
    border: 1px solid #346481;
    padding: 0%;
    width: 70%;
    margin: 0 15%;
    font-size: 25px;
}
div.texto-mediano
{
    border: 1px solid #346481;
    text-align: center;
    padding: 0px;
    /* padding: 10px; */
    background-color: azure;
    border-radius: 20px;
    width: 80%;
    margin: 0 10%;
}
div.texto-final
{
    display: flex;
    text-align: center;
    align-items: center;
    width: 70%;
    height: 100%;
    margin: 0 15%;
}
span.parrafo-final
{
    font-size: 30px;
    color: #346481;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 15;
}
div.contacto
{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgba(217, 217, 217, 0.50);
    border-radius: 20px;
    width: 70%;
    margin: 0 15%;
    font-size: x-large;
    align-items: center;
}
table
{
    /* width: 80%; */
    margin: 0 10% 0 10%; 
    border-collapse: collapse; 

}


td
{
    border: 0px solid #346481;
    border-collapse: collapse;
    text-align: center;
    padding: 35px;
    width: 100;
    
    /* margin: 5000px;*/ 
}
.img-port
{
    width: 200px;
    margin: 0 auto;
}
span.texto-mediano
{
    font-size: 25px;
    text-align: center;
    
}
p.texto-perfil
{
    font-size: 30px;
    
}
img.foto-perfil
{
width: 250px;
}
h1
{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 1px;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3
{
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 30px;
}
p
{
    font-size: 20;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li
{
    text-align: left;
}
div.footer
{
    text-align: center;
    width: 100%;
    margin: 0;
}
div.listado-items
{
    width: 60%;
    background-color: rgb(250, 226, 209);
    display: flex;
    justify-content: center;
    border-radius: 40px;
    margin: 0 20%;
    
}
td.listadoitems
{
    border-color: aqua solid;
    border-collapse: collapse;
    border-width: 0px;
    margin: auto;
    width: 250px;
    font-size: x-large;
    
    
}
.color1
{
    background-color: #FDEAFF;
}
.color2
{
    background-color: #88a9f0;
}
.color3
{
    background-color: #FDEAFF;
}
.color4
{
    background-color: #FDEAFF;
}
.saltodelinea
{
    margin: 150px;
}
img.redes
{
    width: 48px;
}
td.tdfotoperfil
{
    width: 10%;
    margin: 0;
    padding: 0;
    
}
td.tdtextoperfil
{
    width: 80%;

}

