div.contenedor1
{
    background-color: rgba(102, 255, 246, 0.20);
    border-radius: 20px;
}
div.contenedor2
{
    background-color: rgba(217, 217, 217, 0.50);
    border-radius: 20px;
    width: 80%;
    margin: 0 10%;
}
div.item
{
/*    background-image: url("../img/fondoladrillo.jpg"); */
    background-repeat: repeat;
    border-radius: 50px;
    border: 1px solid #346481;
    padding: 0px;
    width: 65%;
    margin: 0 17.5%;
    font-size: 25px;
}
div.itemb
{
/*    background-image: url("../img/fondoladrillo.jpg"); */
    background-repeat: repeat;
    border-radius: 50px;
    border: 0px solid #346481;
    padding: 0px;
    width: 80%;
    margin: 0 10%;
    font-size: 25px;
}
p.textointerno
{
    margin: 10%;
}
.conimg
{
    margin: 500px;
}
div.item1
{
/*    background-image: url("../img/fondoladrillo.jpg"); */
    background-color: #FDEAFF;
    background-repeat: repeat;
    border-radius: 50px;
    border: 1px solid #346481;
    padding: 20px;
    width: 67%;
    margin: 0 15%;
    font-size: 25px;
}
div.item2
{
    background-color: rgba(122, 161, 245, 0.50);
    border-radius: 50px;
    border: 1px solid #346481;
    padding: 20px;
    width: 70%;
    margin: 0 15%;
    font-size: 25px;
}
div.item3
{
    background-color: #FDEAFF;
    border-radius: 50px;
    border: 1px solid #346481;
    padding: 0%;
    width: 250px;
    margin: 0 15%;
    font-size: 25px;
}
div.item4
{
    background-color: rgba(122, 161, 245, 0.50);
    border-radius: 50px;
    border: 1px solid #346481;
    padding: 0%;
    width: 70%;
    margin: 0 15%;
    font-size: 25px;
}
div.texto-mediano
{
    border: 1px solid #346481;
    text-align: center;
    padding: 0px;
    /* padding: 10px; */
    background-color: azure;
    border-radius: 20px;
    width: 80%;
    margin: 0 10%;
}
div.texto-final
{
    text-align: center;
    width: 70%;
    margin: 0 15%;
}
span.parrafo-final
{
    font-size: 30px;
    color: #346481;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 15;
}
div.contacto
{
    text-align: center;
    background-color: rgba(217, 217, 217, 0.50);
    border-radius: 20px;
    width: 70%;
    margin: 0 15%;
    font-size: x-large;
}
table
{
    /* width: 80%;
    margin: 0 10% 0 10%; */
    border-collapse: collapse;
}

td
{
    border: 0px solid #346481;
    border-collapse: collapse;
    text-align: center;
    padding: 35px;
    width: 100;
    /* margin: 5000px;*/ 
}
.img-port
{
    width: 200px;
    margin: 0 auto;
}
span.texto-mediano
{
    font-size: 25px;
    text-align: center;
    
}
p.texto-perfil
{
    font-size: 30px;
    
}
img.foto-perfil
{
width: 250px;
}
h1
{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 1px;
    font-size: 60px;
}
h3
{
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 30px;
}
p
{
    font-size: 20;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li
{
    text-align: left;
}
div.footer
{
    text-align: center;
    width: 100%;
}
div.listado-items
{
    width: 100%;
    
}
.listadoitems
{
    border-color: aqua solid;
    border-collapse: collapse;
    border-width: 10px;
    background-color: rgb(250, 226, 209);
    width: 80%;
    margin: auto;
    font-size: x-large;
    border-radius: 40px;
    
}
.color1
{
    background-color: #FDEAFF;
}
.color2
{
    background-color: #88a9f0;
}
.color3
{
    background-color: #FDEAFF;
}
.color4
{
    background-color: #FDEAFF;
}
.saltodelinea
{
    margin: 150px;
}
